<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift List</title>
</head>
<body>
    <h1>Список подарков</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gift</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        {% for gift in gifts %}
        <tr>
            <td>{{ gift[0] }}</td>
            <td>{{ gift[1] }}</td>
            <td>{{ gift[2] }}</td>
            <td>{{ gift[3] }}</td>
            <td>{{ gift[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>